{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE | Gestion des articles{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">BACK-OFFICE | Gestion des article</h1>


{% endblock %}
