{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="container">

    <h1 class="display-4 text-center my-4">BACK-OFFICE</h1>

    <h4 class="text-center"> Bienvenue dans votre BACK OFFICE</h4>

    <a href="{{ path('admin_articles')}}" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2">GESTION DES ARTICLES</a>

    <a href="" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2">GESTION DES CATEGORIES</a>

    <a href="" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2">GESTION DES COMMENTAIRES</a>

    <a href="" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2">GESTION DES MEMBRES</a>

    </div>

{% endblock %}
