{% extends "base.html.twig" %}

{% block title %}MonBlog Symfony | Détail article {% endblock %}


{% block body %}

<h1 class="display-4 text-center my-4">Detail de l'article</h1>

<div class="col-md-12">
    <div class="card mb-4 shadow-sm">
      <img src="http://picsum.photos/1000/400" alt="">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores 
            dolore quaerat veritatis id culpa aliquam quia! Aperiam animi fugiat suscipit ipsam magni fuga maxime facere rem minus, sequi blanditiis et.</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum deserunt aliquam in? Harum earum quibusdam obcaecati quasi, in asperiores
             doloremque perspiciatis, facilis repellat, suscipit voluptates eaque ipsam? Amet, repellat!
        </p>
      </div>
    </div>
  </div>






{% endblock %}